header {
display: flex;
    align-items: center;
    padding-top: 10px;
}
.menu {
    display: flex;
    height: 38px;
    width: 1370px;
    justify: space-between;
    padding: 10px;
    align-items: center;
    background-color: #ffdbde;
    border-radius: 20px;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    align-items: center;
    width: 41px;
    height: 742px;
}

.logo {
font-size: 24px;
    color: rgba(247, 144, 228, 1);
    font-weight: bold;
    text-decoration: none;
}

.navbar {

}

.menu-items {
display: flex;
    gap: 150px;
}

.menu-item {
list-style-type: none;
}

.menu-item a {
    font-size: 14px;
    font-weight: bold;
    color: rgba(37, 37, 37, 1);
    text-decoration: none;
    transition: all 0.5s;

}
.menu-item a:hover {
    color: rgba(247, 144, 228, 1);
    border-bottom: 20px solid rgba(255, 236, 252, 1);
    border-radius: 50%;
}

footer {
    width: 100%;
    height: 490px;
    position: relative;
    background-color: rgba(18, 18, 18, 1);

}

.main {

}

.hobbies {

}

.routine {

}

.story {

}
